@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-7">
        <img src="~/Attachments/Untitled-1.png" class="img-fluid" alt="" />
    </div>
    <div class="col-lg-5 mt-4">
            <div class="slider" >
            <h3 class="text-center">Overview</h3>
            <p>
                This system is set to ensure everybody paysbills relaxing at home with no need
                to wait long unnecessary queues. Technology is advancing everyday, its best we
                take advantage and learn to utilize this technology. We definitley need to be innovative
                especially here in South Africa, as we still developing.
            </p>    
            </div>
        <div class="slider2" >
            <h3 class="text-center">Electricity</h3>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
           
        </div>
        <div class="slider3" >
            <h3 class="text-center">Water</h3>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p> 
        </div>
        </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
            $('.slider').stop().animate({
                right: 0
            }, 500);
            $('.slider2').stop().animate({
                right: 0
            }, 1000);
            $('.slider3').stop().animate({
                right: 0
            }, 1500);
    });
    </script>
}